#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* justify-items: center; */
}

.app{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.input-block{
  display: flex;
  gap: 20px;
}
.input-text{
  padding: 15px;
  border-radius: 9px;
  font-size: larger;
}
.ul-list{
  list-style-type: none;
}
li{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border-color: antiquewhite;
  border: 2px;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

